# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: NOI Techpark <info@noi.bz.it>

__pycache__
/tmp
.vscode
.env
.pytype
/build
/fossydb
PEMOSER.md
/files

*.egg-info
*.pyi
dist/

infrastructure/utils/*
!infrastructure/utils/spdxtool-wrapper
!infrastructure/utils/scancode-wrapper
!infrastructure/utils/yoctobuilder.py
!infrastructure/utils/yoctobuilder.yml
